<component name="libraryTable">
  <library name="Spring3PersistenceCoreLib">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/ExtremeManager/WebRoot/WEB-INF/lib/Spring3/Spring3PersistenceCoreLib/org.springframework.jdbc-3.0.1.RELEASE-A.jar!/" />
      <root url="jar://$PROJECT_DIR$/ExtremeManager/WebRoot/WEB-INF/lib/Spring3/Spring3PersistenceCoreLib/org.springframework.orm-3.0.1.RELEASE-A.jar!/" />
      <root url="jar://$PROJECT_DIR$/ExtremeManager/WebRoot/WEB-INF/lib/Spring3/Spring3PersistenceCoreLib/org.springframework.transaction-3.0.1.RELEASE-A.jar!/" />
      <root url="jar://$PROJECT_DIR$/ExtremeManager/WebRoot/WEB-INF/lib/Spring3/Spring3PersistenceCoreLib/persistence.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>